@import './styles-palette.scss';

/* Fonts */
$header-font-family: $noto-sans-display;
$body-font-family: $noto-sans;
$code-font-family: $noto-sans-mono;

/* Colours */
$background-color: $mimi-pink;
$text-color: $eggplant;

/* Gradients */
$background-gradient: $gradient-bottom-right;
