@import './styles-theme.scss';

/* Standard elements */
body {
    font-family: $body-font-family;
    color: $text-color;
    background-color: $background-color;
    box-sizing: content-box;
    overflow: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* main {
    margin: 1%;
    padding: 0;
}

article {
    margin: 1%;
    padding: 0;
}

article:first-child {
    margin-top: 0;
}

article:last-child {
    margin-bottom: 0;
}

section {
    margin: 1% 0;
}
 */
 
.cover-text {
    font-family: $noto-sans-display-family;
    color: $cover-text-color;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
