@import './styles-theme.scss';

/* Standard elements */
body {
    font-family: $body-font-family, Arial, Helvetica, sans-serif; 
    color: $text-color;
    background-color: $background-color;
    box-sizing: content-box;
    overflow: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

article {
    margin: 1%;
    padding: 0;
}

article:first-child {
    margin-top: 0;
}

article:last-child {
    margin-bottom: 0;
}

section {
    margin: 1% 0;
}
