@import './styles-palette.scss';

/* Fonts */
$header-font: $noto-sans-display;

/* Font Families */
$body-font-family: $noto-sans-family;
$header-font-family: $noto-sans-display-family;
$code-font-family: $noto-code-family;

/* Colours */
$logo-color: $rose-pompadour;
$background-color: $mimi-pink;
$main-background-color: $orchid-pink;
$cover-text-color: seashell;
$text-color: $eggplant;

/* Gradients */
$cover-gradient: $gradient-bottom-right;
