@import '../assets/css/styles-theme.scss';

.Layout {
    background-image: $background-gradient;
    min-height: 92vh;
    min-width: 92vw;
    margin-top: 4vh;
    margin-bottom: 4vh;
    display: flex;
    flex-direction: column;
}

.Header {
    padding: 1% 2%;
}

.Main {
    padding: 2%;
    flex: 1;
}

.Footer {
    padding: 1% 2%;
}
